h1{
    text-align: center;
    color: black;
}
.blue{
    background-color: #BF7F3F;
    padding-bottom: 100px;
    padding-top: 30px;
}
p{
    text-align: center;
    color: #666;
}
.black{
    background-color: black;
}

.container{
    background-color: #3FFFBF;
    padding-top: 30px;
    padding-bottom: 30px; 
}

